* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color:black;
  color: rgb(155, 178, 241);
}

/* .topnav a.active {
  background-color: #2196F3;
  color: white;
} */
.topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: whitesmoke;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  .topnav .search-container button:hover {
    background: gray;
  }
  
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px
    }
}

/*--cart items-------*/

.cart-page{
    margin: 80px;
}

table{
    width: 100%;
    border-collapse: collapse;
}



th{
    text-align:left;
    padding: 5px;
    color: cornsilk;
    background: crimson;
    font-weight: bolder;
}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;

}
td a{
    color: crimson;
    font-size: 12px;
}

td img{
    width: 480px;
    height: 480px;
}

